body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul.todo-list {
    list-style-type: none;
    padding: 0;
    
}

ul.todo-list li {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
}

ul.todo-list li input[type="checkbox"] {
    margin-right: 10px;
    
}

ul.todo-list li span {
    font-size: 16px;
}

ul.todo-list li.completed span {
    text-decoration: line-through;
    color: #888;
    
}
